
//PALETA DE COLORES

// COLORES PRINCIPALES
$body-bg: #252530;
$color-tipografia: #ffffff;
$color-principal: #9333EA;

//BORDES
$border-color: #514b57;
$radio-borde: 10px;

//SECTION
$sections-bg: #1A1A24;

//COLOR TEXOS SECUNDARIOS
$color-tipografia-secundaria: #b8b8b8;