
@use "../utilities/variables" as *;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES */
body{
    background-color: $body-bg;
    color: $color-tipografia;
    font-family: "Inter", sans-serif;
}
